::selection {
  background-color: #EF8354;
}

#seite {
  width: fit-content;
  margin-top: 75px; /* muss größer als 50px hoch sein, da navbar 50px hoch */
  padding-left: 30px;
}

#home_seite p {
  padding-left: 30px;
  font-size: x-large;
}

#home_seite ul li{
  font-size: x-large;
  list-style: none;
}

p {
  color: #284b63;
  font-size: medium;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

h1 {
  color: #275DAD;
  padding-left: 30px;
  font-size: 48px; 
  text-decoration: underline;
  text-decoration-color: #EF8354;

}

h2 {
  color:#275DAD;
  padding-left: 30px;
  font-size: x-large;
}

#contactaddresstext {
  padding: 0px 0px 0px 30px;
}

#titel p {
  font-size: 120px;
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

#bild_jim img {
  width: 250px;
  float: left;
  padding-left: 30px;
}

#bild_pinguin img {
  width: 600px;
}

#Kontakt {
  padding-right: 30px;
  float: right;
}

#lebenslauf {
  padding: 300px 0px 3px 30px;
}

padding oben rechts unten links

.schulisches {
  font-size: 30px;
}

.überschrift {
  font-size: 20px;
  color: #275DAD;
  font-weight: bold;
  text-decoration: underline;
}

.kontakt-text {
  font-size: small;
  text-align: right;
  color: darkcyan;
  padding-left: 200px;
}

.navbar {
  background-color: #4F5D75;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* z-layer des Elements, damit das Element immer im Vordergrund steht*/
}


.navbar a {
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  float: left;
  height: 25px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.navbar a:hover {
  background-color: #EF8354;
  height: 22px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4F5D75;
  min-width: 160px;
  width: 60px;
  margin-top: 50px;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #EF8354;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.contact {
  float: right;
}

#aboutme li {
  font-size: medium;
  color: #8d9fb8;
}

li {
  font-size: large;
  color: #4F5D75;;
}

form {
  width: 100%;
}

form li {
list-style-type: none;
padding-right: 80px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #4F5D75;;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font: icon;
  font-size: large;
  resize: unset;
}

.footer {
  background-color: #d9d9d9;
  width: 100%;
  position: absolute;
    position: relative;
  height: 100px;
}
#footer_contact {
  text-align: center;
  font-size: x-large;
  padding-top: 20px;
  color: white;
}
#footer_span {
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: large;
}
#footer_picture_left img {
  width: 50px;
  align-content: flex-start;
}

#seite img {
width: 100%
}
